<div class="ui container">
  <nav class="ui stackable menu">
    <div class="header item">
      <h4>Larkin LLC Delivery</h4>
    </div>

    {{#if (can "see list of orders")}}
      {{#link-to 'delivery.orders' class="blue item"}}<h4>Orders</h4>{{/link-to}}
    {{/if}}
    {{#if (can "see list of loads")}}
      {{#link-to 'delivery.loads' class="green item"}}<h4>Loads</h4>{{/link-to}}
    {{/if}}
    {{#if (can "see list of routelists")}}
      {{#link-to 'delivery.routelists' class="brown item"}}<h4>Route lists</h4>{{/link-to}}
    {{/if}}

    <div class="right stacked menu">
      <div class="item">
        <i class="user icon"></i>
        {{currentUser.user.name}} &nbsp; (<a href="#" {{action 'logout'}}>Logout</a>)
      </div>
    </div>
  </nav>
  {{outlet}}
</div>
