<h3 class="noselect">
  <div class="ui tabular menu">

    {{#link-to 'delivery.orders.list' class="item nav-orders-actual"}}Actual{{/link-to}}
    {{#link-to 'delivery.orders.outdated' class="item nav-orders-outdated"}}Outdated{{/link-to}}
    {{#link-to 'delivery.orders.completed' class="item nav-orders-scheduled"}}Scheduled{{/link-to}}
    {{#link-to 'delivery.orders.cancelled' class="item nav-orders-cancelled"}}Cancelled{{/link-to}}

    <div class="right menu">
      <a class="item button-orders-upload" {{action 'openUploadDialog'}}>
          <i class="upload icon"></i>Upload orders CSV
      </a>
    </div>
  </div>
</h3>

{{outlet}}


{{#ui-modal name="upload" class="upload" onApprove=(action 'doUpload') onDeny=(action 'cancelUpload')}}
  <i class="close icon"></i>
  <div class="header">
    Upload new orders
  </div>
  <div class="image content">
    <div class="image">
      <i class="shipping icon"></i>
    </div>
    <div class="full-width description">
      <div class="ui warning message">
        <div class="header">
          Please, be careful!
        </div>
        <p>If your CSV contains old, malformed or duplicate orders they will be uploaded AS IS without any modification.</p>
        <p>If you've accidentally uploaded something wrong, you could fix it later by editing and cancelling wrong orders.</p>
      </div>
      <form>
        <p>Select your orders CSV file using control below:</p>
        {{file-upload files=orderFiles}}
      </form>
    </div>
  </div>
  <div class="actions">
      <div class="ui positive {{if (eq orderFiles.length 0) 'disabled'}} button">
        <i class="upload icon"></i>
        Upload
      </div>
      <div class="ui deny button">
        <i class="cancel icon"></i>
        Cancel
      </div>
  </div>
{{/ui-modal}}
