<div class="ui message">
  <div class="header">
    Scheduled orders
  </div>
  <p>
    This orders are scheduled for load and read-only.
    You don't need to take any actions on those orders, they are listed just for your information.
  </p>
</div>

{{order-list orders=model}}
