<h3 class="noselect">
  Order list for
  <a class="force-pointer" {{action 'calendarBack'}}>&lt;</a>
  {{moment-format currentDate 'MM/DD/YYYY'}}
  <a class="force-pointer" {{action 'calendarForward'}}>&gt;</a>
</h3>

<button class="ui small labeled icon button">
    <i class="upload icon"></i>Upload orders CSV
</button>

<table class="ui very basic compact celled table">
  <thead>
    <th>Delivery date</th>
    <th>Type</th>
    <th>Client name</th>
    <th>
      Phone number
    </th>
  </thead>
  <tbody>
  </tbody>
</table>
