<div class="ui message">
  <div class="header">
    Actual orders
  </div>
  <p>
    This orders are need to be delivered. You need to take each order, edit it if necessary and schedule it for loading.
  </p>
</div>

{{order-list orders=model onEdit=(action 'editOrder') onCancel=(action 'cancelOrder') onSplit=(action 'splitOrder')}}
