<div class="ui message">
  <div class="header">
    Outdated and invalid orders
  </div>
  <p>
    You can fix the orders listed below and make them eligible for further processing by
    pressing 'Edit' button and fixing any invalid fields and delivery date field in particular.
  </p>
</div>

{{order-list orders=model onEdit=(action 'editOrder') onCancel=(action 'cancelOrder')}}
